@import "../../theme/variables.scss";

.hero{
  background: url('./hero4.jpeg') center center no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;

  .heroOverlay{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;

    .title{
      font-size: 5rem;
      margin-top: 15%;

      @media(max-width: $screen-sm) {
        margin-top: 20%;
      }
    }
  }
}

.eventsList{
  position: relative;
  top: -10rem;
}
